<div class="card mb-2">
    <div class="card-body">
        <p>Ecrit par {{ post.user.username }} le {{ post.dateadd|date('l d F Y') }}</p>
        <p>{{ post.message }}</p>
        {#            {% if is_granted("EDIT", post) %}#}
        {#                <a class="btn btn-warning" href="#"><span class="fa fa-edit"></span></a>#}
        {#            {% endif %}#}
        {% if is_granted("DELETE", post) %}
            <form method="post" class="d-inline-block"
                  action="{{ path("chatpost.delete", {trickSlug:trick.slug, trickID: trick.id, id: post.id}) }}"
                  onsubmit="return confirm('Êtes vous sur de vouloir supprimer ce message?')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ post.id) }}">
                <button type="submit" href="#" class="btn btn-danger">
                    <span class="fa fa-eraser"></span>
                </button>
            </form>
        {% endif %}
    </div>
</div>