<div class="card mb-2 chat-message{% if post.user.id == app.user.id %} is-mine{% endif %}">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="{% if is_granted("DELETE", post) %}col-27{% else %}col-30{% endif %}">
                <p class="text-bold">
                    Ecrit par {{ post.user.username }} le {{ post.dateadd|date('l d F Y') }}
                </p>
                <p>
                    {{ post.message }}
                </p>
            </div>
            {% if is_granted("DELETE", post) %}
                <div class="col-3">
                    <form method="post" class="d-inline-block"
                          action="{{ path("chatpost.delete", {trickSlug:trick.slug, trickID: trick.id, id: post.id}) }}"
                          onsubmit="return confirm('Êtes vous sur de vouloir supprimer ce message?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ post.id) }}">
                        <button type="submit" href="#" class="btn btn-danger">
                            <span class="fa fa-eraser"></span>
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>