<div class="col-30 col-sm-15 col-lg-25 col-xl-6 my-3 transition-300">
    <div class="card h-100">
        {% if trick.pictures|length > 0 %}
            <img class="card-img-top" src="{{ asset(getUploadedImage("tricks", trick.pictures|first.filename, true)) }}"
                 alt="{{ trick.title }}_cover">
        {% endif %}
        <a class="card-overlayer" href="{{ path("trick.show", {id:trick.id, slug:trick.slug}) }}"></a>
        <div class="card-body">
            <h5 class="card-title text-uppercase text-bold">
                {{ trick.title }}
            </h5>
{#            <p>{{ trick.description|u.truncate(50, "...") }}</p>#}
            <p class="text-muted">
                {% if trick.updatedBy is not null %}
                    <small class="d-block text-muted">
                        Dernière mise a jour par {{ trick.updatedBy.username }} le {{ trick.dateupdate|format_datetime('full', 'none', locale='fr') }}
                    </small>
                    {% else %}
                        <small class="d-block text-muted">
                            Ajouté par {{ trick.author.username }} le {{ trick.dateadd|format_datetime('full', 'none', locale='fr') }}
                        </small>
                {% endif %}
            </p>
            {% if trick.categories|length > 0 %}
                <div class="border-top py-2 card-above-overlayer">
                    {% for cat in trick.categories %}
                        <small class="text-muted">
                            {% if category is defined and category != null and category.id == cat.id %}
                                {{ cat.title }}
                            {% else %}
                                <a href="{{ path('category.show', {id: cat.id, slug: cat.slug}) }}">{{ cat.title }}</a>
                            {% endif %}
                            {% if not loop.last %} |{% endif %}
                        </small>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
