<div class="col-12 col-sm-6 col-lg-4 my-3">
    <div class="card h-100">
{#        {% if trick.pictures|length > 0 %}#}
{#            <img class="img-fluid" src="{{ vich_uploader_asset(trick.cover, 'imageFile', 'App\\Entity\\Picture') | imagine_filter('thumb') }}"#}
{#                 alt="{{ trick.title }}_cover">#}
{#        {% endif %}#}
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ path("trick.show", {id:trick.id, slug:trick.slug}) }}">{{ trick.title }}</a>
            </h5>
            <p>{{ trick.description|u.truncate(50, "...") }}</p>
            <p class="text-muted">{{ trick.stringedDatetime|format_datetime('full', 'none', locale='fr') }}</p>

            {% if trick.categories|length > 0 %}
                <div class="border-top py-2">
                    {% for cat in trick.categories %}
                        <span class="text-muted">
                            {% if category is defined and category != null and category.id == cat.id %}
                                {{ cat.title }}
                            {% else %}
                                <a href="{{ path('category.show', {id: cat.id, slug: cat.slug}) }}">{{ cat.title }}</a>
                            {% endif %}
                            {% if not loop.last %} |{% endif %}
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
