{% extends "base.html.twig" %}

{% block title %}
    {{ trick.title }}
{% endblock %}

{% block body %}
    <h1>{{ trick.title }}</h1>

    <p>{{ trick.id }}</p>
    <p>{{ trick.title }}</p>
    <p>{{ trick.shortDescription }}</p>
    <p>{{ trick.description }}</p>
{% endblock %}