{% extends "manage/form_base.html.twig" %}

{% block title %}{{ page.title }}{% endblock %}
{% block formtitle %}Catégorie:<br>
    <span class="font-weight-normal">{{ category.title }}</span>
{% endblock %}

{% block form %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-30">{{ form_row(form.title) }}</div>
        <div class="col-30">{{ form_row(form.description) }}</div>
        <div class="col-30">
            <button class="btn btn-success" type="submit">{{ btn_label|default("Valider") }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
