{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    {% include '_partials/_messages.html.twig' %}

    <h1>Modifier le mot de passe</h1>

    {{ form_start(passwordForm) }}
    {{ form_row(passwordForm.oldPassword) }}
    {{ form_row(passwordForm.newPassword) }}
    {{ form_row(passwordForm.newPasswordConfirm) }}

    {% if not passwordForm.vars.valid %}
        <div class="alert alert-error">
            {{ form_errors(passwordForm) }}
        </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(passwordForm) }}
{% endblock %}
