{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    {% include '_partials/_messages.html.twig' %}

    <h1>Modifier le mot de passe</h1>

    {{ form_start(passwordForm) }}
        {{ form_row(passwordForm.old_password) }}
        {{ form_row(passwordForm.new_password) }}
        {{ form_row(passwordForm.new_password_confirm) }}

        <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(passwordForm) }}
{% endblock %}
