{% extends 'manage/form_base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}
{% block formtitle %}Modifier le mot de passe{% endblock %}

{% block form %}
        {{ form_start(passwordForm) }}
        <div class="row">
            <div class="col-30 col-sm-25">{{ form_row(passwordForm.oldPassword) }}</div>
            <div class="col-30 col-sm-25">{{ form_row(passwordForm.newPassword) }}</div>
            <div class="col-30 col-sm-25">{{ form_row(passwordForm.newPasswordConfirm) }}</div>
            <div class="col-30 col-sm-25">
                <button class="btn btn-success" type="submit">{{ btn_label|default("Valider") }}</button>
            </div>
        </div>
        {% if not passwordForm.vars.valid %}
            <div class="alert alert-error">
                {{ form_errors(passwordForm) }}
            </div>
        {% endif %}
        {{ form_end(passwordForm) }}

{% endblock %}
