<div class="col-12 my-2">
    <div class="card p-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h5 class="card-title">
                    <a href="{{ path("trick.show", {id:trick.id, slug:trick.slug}) }}">{{ trick.title }}</a>
                </h5>
                <p>{{ trick.description|u.truncate(50, "...") }}</p>
            </div>

            <div class="col-md-3 text-center">
                <p class="text-muted">{{ trick.stringedDatetime|format_datetime('full', 'none', locale='fr') }}</p>
            </div>


            <div class="actions col-md-3 text-right">
                <a href="{{ path("admin.trick.edit", {id: trick.id, slug: trick.slug}) }}" class="btn btn-primary">
                    <span class="fa fa-edit"></span>
                </a>
                <form method="post" class="d-inline-block" action="{{ path("admin.trick.delete", {id: trick.id}) }}"
                onsubmit="return confirm('Êtes vous sur de vouloir supprimer ce trick?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ trick.id) }}">
                    <button type="submit" href="#" class="btn btn-danger">
                        <span class="fa fa-eraser"></span>
                    </button>
                </form>
            </div>
            {% if trick.categories|length > 0 %}
                <div class="border-top py-2 col-md-12">
                    {% for category in trick.categories %}
                        <span class="text-muted"><a href="{{ path('category.show', {id: category.id, slug: category.slug}) }}">{{ category.title }}</a>{% if not loop.last %} |{% endif %}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
