{% extends "base.html.twig" %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ page.title }}</h1>
    </div>

    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-12 col-sm-10">{{ form_row(form.title) }}</div>
            <div class="col-12 col-sm-2">{{ form_row(form.difficulty) }}</div>
            <div class="col-12 col-sm-12">{{ form_row(form.short_description) }}</div>
            <div class="col-12 col-sm-12">{{ form_row(form.description) }}</div>
            <div class="col-12 col-sm-8">{{ form_row(form.visible) }}</div>
            <div class="col-12 col-sm-4">
                <button class="btn btn-success" type="submit">{{ btn_label|default("Valider") }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>


{% endblock %}