{% extends 'base.html.twig' %}

{% block title %}
    {{ trick.title }}
{% endblock %}

{% block body %}
    {% include "_partials/_messages.html.twig" %}
    <div class="position-absolute w-100 px-5">
        <div class="actions text-right">
            {% if is_granted("EDIT", trick) %}
                <a href="{{ path("manage.trick.edit", {id: trick.id, slug: trick.slug}) }}" class="btn btn-primary">
                    <span class="fa fa-edit"></span>
                </a>
            {% endif %}
            {% if is_granted("DELETE", trick) %}
                <form method="post" class="d-inline-block" action="{{ path("manage.trick.delete", {id: trick.id}) }}"
                      onsubmit="return confirm('Êtes vous sur de vouloir supprimer ce trick?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ trick.id) }}">
                    <button type="submit" href="#" class="btn btn-danger">
                        <span class="fa fa-trash"></span>
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
    {% include "_partials/_trick-slider.html.twig" %}

    <div class="container">
        {% if trick.categories|length > 0 %}
            <div class="border-top border-bottom px-0 py-2 my-4 col-md-30">
                <span class="text-bold mr-2">Catégories liées:</span>
                {% for category in trick.categories %}
                    <span class="text-muted">
                        <a href="{{ path('category.show', {id: category.id, slug: category.slug}) }}">{{ category.title }}</a>{% if not loop.last %} |{% endif %}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
        <h1 class="text-uppercase">{{ trick.title }}</h1>
        <div class="py-4">
            <div class="text-muted">
                Ajouté par {{ trick.author.username }}
                le {{ trick.dateadd|format_datetime('full', 'none', locale='fr') }}
            </div>
            {% if trick.updatedBy is not null %}
                <div class="text-muted">
                    Dernière mise a jour par {{ trick.updatedBy.username }}
                    le {{ trick.dateupdate|format_datetime('full', 'none', locale='fr') }}
                </div>
            {% endif %}
        </div>

        <p>{{ trick.description|nl2br }}</p>

        <div class="chat-section mt-5">
            {% if is_granted('ADD_CHATPOST', trick) %}
                <div class="chat-form js-chat-form border-top py-3 mb-3">
                    {{ form_start(form) }}
                    {{ form_row(form.message) }}
                    <input id="trick_id" type="hidden" value="{{ trick.id }}">
                    <button class="btn btn-primary" type="submit">Envoyer</button>
                    {{ form_end(form) }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    <a href="{{ path('app_login') }}">Connectez vous</a> pour ajouter un commentaire
                </div>
            {% endif %}
            <div class="chat-messages">
                <div id="js-chat-messages-container" class="chat-messages-container">
                    {% include "_partials/_chatposts-listing.html.twig" %}
                </div>

                {% if isThereMorePosts %}
                <div class="py-4 d-flex justify-content-center">
                    <button data-trick="{{ trick.id }}" data-load="chatpost" id="js-load-more-btn" class="btn btn-outline-primary">
                        Voir les précédents messages
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "_partials/_ajax-loader.html.twig" %}

{% endblock %}

{% block add_stylesheets %}
    {{ encore_entry_link_tags('swipers') }}
{% endblock %}

{% block add_javascripts %}
    {{ encore_entry_script_tags('swipers') }}
    {{ encore_entry_script_tags('loadmore') }}
    {{ encore_entry_script_tags('addChatpost') }}
{% endblock %}