{% extends 'base.html.twig' %}

{% block title %}
    {{ trick.title }}
{% endblock %}

{% block body %}

    <h1>{{ trick.title }}</h1>

    {% if trick.pictures|length > 0 %}
        <!-- Slider main container -->
        <div class="trick-show-images js-trick-show-images-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for picture in trick.pictures %}
                    <div class="swiper-slide d-flex justify-content-center">
                        <img class="img-fluid"
                             src="{{ vich_uploader_asset(picture, 'imageFile', 'App\\Entity\\Picture') | imagine_filter('mid_size_formated') }}">
                    </div>
                {% endfor %}
            </div>
            <!-- If we need pagination -->
            <div class="d-flex justify-content-center">
                <button class="m-3 btn btn-outline-primary swiper-button-prev">
                    <span class="fa fa-arrow-circle-o-left"></span>
                </button>
                <button class="m-3 btn btn-outline-primary swiper-button-next">
                    <span class="fa fa-arrow-circle-o-right"></span>
                </button>
            </div>

        </div>
    {% endif %}

    <p>{{ trick.description|nl2br }}</p>

    {% if trick.categories|length > 0 %}
        <div class="border-top py-2 col-md-12">
            {% for category in trick.categories %}
                <span class="text-muted"><a
                            href="{{ path('category.show', {id: category.id, slug: category.slug}) }}">{{ category.title }}</a>{% if not loop.last %} |{% endif %}</span>
            {% endfor %}
        </div>
    {% endif %}

    <div class="chat-section">
        <div class="chat-messages">
            {% for post in chatposts %}
                <div class="card mb-2">
                    <div class="card-body">
                        <p>Ecrit par {{ post.user.username }} le {{ post.dateadd|date('l d F') }}</p>
                        <p>{{ post.message }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="chat-form">
            {{ form_start(form) }}
            {{ form_row(form.message) }}
            <button class="btn btn-primary" type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block add_stylesheets %}
    {{ encore_entry_link_tags('swipers') }}
{% endblock %}

{% block add_javascripts %}
    {{ encore_entry_script_tags('swipers') }}
{% endblock %}